body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f4f4f4;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: space-between;
  margin: 20px 0;
}

.selected {
  color: #333333;
  font-size: 26px;
  font-weight: 700;
  margin: 10px 20px 0 0;
}

.person-info:hover {
  padding: 30px;
  border: 2px solid pink;
}

.person-info.selected-person {
  padding: 30px;
  border: 2px solid red;
}

.firstNameLastName {
  padding: 0 0 10px;
  color: #333333;
  font-size: 26px;
  font-weight: 700;
}

.jobTitle {
  padding: 0 0 20px;
  color: #e74c3c;
  font-size: 20px;
  font-weight: 400;
}

.emailAddress {
  color: #666666;
  font-size: 14px;
  line-height: 1.8em;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-360deg);
  }
}


.spinner {
  top: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(155,155,155,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999999999;
}

.spinner span {
  font-size: 10rem;
  animation: spin infinite 2s linear;
}

.error {
  color: red;
  font-weight: bold;
  margin: 2rem 0;
}
